* 
{
    margin: 0;
    padding: 0;
}

td, th
{
    padding-right: 55px;
    padding-left: 55px;
    height: 30px;
    border: solid 1px black
}


body 
{
    scroll-behavior:smooth;
    position: fixed;
    background: #eaf0ff;
    width: 100%;
    height: 120%;
    box-shadow: inset 0px 0px 100px #bfc2d0;
}