.pagination-style {
    text-align:center;
}

.pagination {
    border-radius: 10px 10px 10px 10px;
    border: solid 1px gray;
    padding: 4px;
    margin: 3px;
    color: #6f2fee;
    background: inherit
}

.pagination:hover, .absolute-none
{
    background: #a580f6;
    color: #eaf0ff
}

.pagination-char
{
    padding: 5px;
}

.corrected
{
    margin-top: 10px;
    margin-bottom: 10px;
}



