.text-aling 
{
    text-align: center;
    padding-block: 40px;
}

.text-logo 
{
    font-family: Corbel;
    font-size: 25px;
    color: #eaf0ff;
    
}

.text-logo:hover 
{
    text-shadow: 0 0 2em #eaf0ff;
}

.text-right
{
    margin-left: auto;
}

.text-product-profile {
    text-align: center;
    margin: 10px;
    font-size: 30px
}
.style-discount
{
    float: right;
    background: #f64747;
    color: #f5e9e9;
    margin: 2px
}

.decorate-none
{
    text-decoration: none;
}

.absolute-none
{
    pointer-events: none;
}

.button-content {
    text-align: center;
    padding: 10px;
    
}