@model Category

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "EditOrCreate";
    ViewBag.NamePanel = "Create/Update category";

    string route = Model.CategoryID != 0 ? "Edit" : "Create";
} 


<form method="post" asp-action="@route" asp-controller="CrudCategory">
    <table>
        <tr>
            <td>
                <label asp-for="Name"></label>
                <input asp-for="Name" value="@Model.Name" />
            </td>
        </tr>
    </table>
    @if (route == "Edit")
    {
        <input type="hidden" name="categoryId" value="@Model.CategoryID" />
    }
    <button type="submit">@route</button>
</form>

