@model PageAndObjectDBViewModel

@{
    ViewBag.Title = "List";
}

<div class="filter-content">
    <a asp-controller="Category" asp-action="Categories" class="decorate-none">
        Filter <i class="fa fa-filter filter"></i>:
    </a>
    @foreach (Category category in Model.SessionCategories.Categories)
    {
        <div style="display:flex;">
            <h4 class="filter" style="pointer-events:none">@category.Name</h4>
            @using (Html.BeginForm("DeleteCategoryToFilter", "Category", FormMethod.Post))
             {
                <form method="post">
                <input type="hidden" name="categoryId" value="@category.CategoryID" />
                <button class="filter filter-delete"
                        style="background: initial; border: initial"
                        type="submit"><i class="fa fa-remove"></i></button>
                </form>
             }
            
        </div>
    }
</div>

<div class="border-limit">
    @if (Model.Products.Count() == 0 || Model.CurrentPage <= 0)
    {
        <div style="text-align: center">
            <h2>Product not found</h2>
        </div>      
    }
    else
    {
        <div class="pad">
            @foreach (Product product in Model.Products)
            {
                @await Html.PartialAsync("PartialHtml/Product", product);
            }
        </div>
    }
</div>

<div style="padding: 10px;" >
    @await Html.PartialAsync("PartialHtml/Page", Model)
</div>

<div style="width: auto;
      background: #a07fe8;
      box-shadow: inset 0px 0px 100px #6038b9;
      border-radius: 10px 10px 0 0;
      padding: 50px ">

</div>


