@model Category

@{ 
    var route = ViewBag.ProductId == 0 ? "..." : "AddToFilterCategories";
}

@using (Html.BeginForm(route, "Category", FormMethod.Post ))
{
<form method="post">
    <input type="hidden" name="categoryId" value="@Model.CategoryID" />
    <button type="submit">@Model.Name</button>
</form>
}
