@model Category

<form method="post" asp-action="AddCategoryToFilter" asp-controller="Category">
    <input type="hidden" name="categoryId" value="@Model.CategoryID" />
    <button type="submit">@Model.Name</button>
</form>

