@model Category

@using (Html.BeginForm("AddToFilterCategories", "Category", FormMethod.Post ))
{
<form method="post">
    <input type="hidden" name="categoryId" value="@Model.CategoryID" />
    <button type="submit">@Model.Name</button>
</form>
}
