@model PageAndObjectDBViewModel


<div class="pagination-style"
     page-model="@Model.Pages"
     page-url="@Model.ActionUrl"
     page-css="pagination decorate-none"
     page-current="@Model.CurrentPage"
     page-current-css="absolute-none">
</div>
