@model User

@{
    ViewBag.Title = "Profile";
}

<table>
    <tr>
        <td>@Model.UserName</td>
    </tr>
    <tr>
        <td>@Model.Email</td>
    </tr>
</table>
<a asp-action="Logout" asp-controller="User">Logout</a>
<a asp-action="EditOrCreate" asp-controller="Product" asp-route-productId="0"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Create product</a>

<a asp-action="EditOrCreate" asp-controller="Category" asp-route-categoryId="0"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">Create category</a>