@model Cart

@{
    ViewBag.Title = "Cart";
}

@if (Model.GetItem.Count() == 0)
{
    <div style="text-align: center">
        <h2>Cart is Empty</h2>
    </div>
}
else
{
    <div class="border-limit" style="margin-left: 500px; margin-right: 500px; border-style: solid; border-collapse: collapse; overflow: auto">
        
            @foreach (CartLine cartLine in Model.GetItem)
            {
             <div style="display:flex; padding: 10px; justify-content:center; border: solid; border-color: grey;">
                <div style="padding:10px; font-size: 25px">Name: @cartLine.Product.Name</div>
                <div style="padding:10px; font-size: 25px"> Quantity: @cartLine.Quantity</div>
                <div style="padding:10px; font-size: 25px"> Price: @cartLine.Product.Price</div>
             </div>
            }
        
    </div>
    <div style="text-align: center;">
        <a asp-action="List" asp-controller="Product" class="decorate-none button-for-create">Continue to shopping</a>
        <a asp-action="Checkout" asp-controller="Order" class="decorate-none button-for-create">Checkout</a>
    </div>
    

    
}
