@model IdentityRole

<form asp-action="Edit" asp-controller="CrudRole">
    <tabel>
        <tr>
            <td>
                <label asp-for="Name"></label>
                <input asp-for="Name" value="@Model.Name"/>
            </td>
        </tr>
    </tabel>
    <input hidden="hidden" name="id" value="@Model.Id"/>
    <button type="submit">Edit</button>
</form>
